.tab-pane {
    -fx-background-color: #797B7C;
}

.tab-pane > .tab-header-area > .headers-region{
    -fx-font-weight: bold;
    -fx-font-size: 12pt; /* or any other font size you prefer */
}


.tab-pane > .tab-header-area > .headers-region > .tab {
    -fx-background-color: linear-gradient(to bottom, derive(#797B7C, 10%), derive(#797B7C, 30%));
    -fx-background-radius: 10px 10px 0px 0px;
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 10, 0, 0, 2);
}

.tab-pane > .tab-header-area > .headers-region > .tab:selected {
    -fx-background-color: linear-gradient(to bottom, #FFCC33, #FFAA00);
}
.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-color: transparent;
}


